$primary: #5584fb;
$secondary: #ac98ef;
$success: #52c41a;
$error: #f5222d;
$warning: #faad14;
$yellow: #ffc53d;
$neutral: #f9fcff;
$white: #ffffff;
$black: #000000;
$gray: #f8f9fa;
$default: #e9ecef;
$grey: rgb(211, 211, 211);
$link: #1890ff;
$background: #f3f1ff;

$primary-dark: #8f97ab;
$primary-light: #c4cbdb;

$secondary-dark: #84a7ff;
$secondary-light: #d5e2ff;

$loader: $secondary-dark;
